/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/build/
/HelloWorldJavaFX/dist/
/HelloWorldSwing/dist/
/screenCalendarClock/nbproject/private/
/screenCalendarClock/build/
/screenCalendarClock/dist/